.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}

.header__logo {
    height: 70%;
    width: auto;
}

.header-nav {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.header-nav__link {
    margin: 5px 10px;
    color: #74697f;
}

.header__button {
    background: url('../icons/3x/Recurso\ 5@3x.png');
    background-size: 100% 100%;
    width: 200px;
    padding: 0 60px 0 15px;
    color: #ffffff;
    border: none;
    text-align: left;
}
